.job{
	text-indent: 10px;
}

.joblist{
	text-indent: 5px;
	li{
		margin: 5px;
	}
}

p.job-contact{font-size: 14px;}

.job-header{
	font-family: $font-sans;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;

}

