//BOUCHARD TRADE FOOTER STYLES

.site-footer{
  color: $white;
  background: $light-blue;
  font-size: 11px;
  height: 30px; 
  text-decoration: none;
  padding: 10px 0px 0px;

    ol, ul, .row{
      margin-bottom: 0;
    }
}

footer ul{
  list-style-type: none;
  text-decoration: none;
}

.footer-nav a{
  display: inline;
  margin-right:5px;
  text-decoration: none;
}

.footer-nav li{
  display: inline;
  margin-right:5px;
  text-decoration: none;
    &:hover{ color:#fff; }

    &:last-child{ margin-right: 0;}
  }

