//BOUCHARD TRADE HOMEPAGE STYLES
	
.homepage-container{

	//MAIN HEADER
	.homepage-header {
		background-image: url(../img/header-img.jpg);
		max-height: 600px;
		@include backgroundSize(cover);
	  margin: 0 auto;
	  padding: 2.3em 0;
	}
}



