//BOUCHARD TRADE HOMEPAGE STYLES

.homepage-container{

	.homepage-header {
		background-image: url(../img/header-img-gray.jpg);
		max-height: 700px;
		@include backgroundSize(cover);
	  margin: 0 auto;
	  color: $white;
	  border-top: solid $dark-blue 8px;

     h1{
        color: $white;
        font-size:76px;
        line-height: 74px;
        @include textShadow;
        @media screen and (max-width: $width-md){
          font-size: 46px;
          line-height: 1.1;
          text-align: center;
          font-weight: 700;
        }
      }

      h4{
        color:$white;
        font-size: 36px;
        line-height: 40px;
        @include textShadow;
      }

     li{
      color: $white;
      text-shadow: $dropshadow;
    }
  }
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.homepage-container {
  height: 100%;
  .home-wrapper {
    background: url(../img/header-img-gray.jpg) no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: block;
    position: relative;
    min-height: 100%;
    min-width: 100%;
    margin: 0 auto;
    background-attachment: fixed;
    padding-bottom: 0px;
    img.home-logo {
      margin: 0px auto;
      display: block;
      width: 715px;
      @media screen and (max-width: $width-md) {
        width: 450px;
      }
      @media screen and (max-width: $width-sm) {
        width: 290px;
      }
    }
  }
  .home-header {
    li{
      color: $white;
      text-shadow: $dropshadow;
    }
  }
}


  //INTRODUCTION
.intro{ padding-bottom: 80px;
  @media screen and (max-width: $width-sm){
    padding-bottom: 20px;
    font-size: 30px;
  }
}

  //ABOUT BLOCK
.about-content{

  p{
    font-size: 20px;
    line-height: 24px;
    @media screen and (max-width: $width-sm){
      font-size: 16px;
      line-height: 1.5;
    }
  }
}


  //NEWS SECTION
.news-description{
  margin-top: 30px;
  margin-bottom: 45px;
}


.newsicon{
  margin: 0 auto;
  width: 180px;
  height: auto;
  padding: 40px;
}

.contenthead{
  margin-top: 10px;
  margin-bottom: 60px;
  @media screen and (max-width: $width-sm){
    margin-bottom: 20px;
  }

}
