//BOUCHARD TRADE HOMEPAGE STYLES
	
.homepage-container{

	.homepage-header {
		background-image: url(../img/header-img-gray.jpg);
		max-height: 600px;
		@include backgroundSize(cover);
	  margin: 0 auto;
	  color: $white;
	  border-top: solid $dark-blue 8px; 
    
     h1{
        color: $white;
        font-size:76px;
        line-height: 74px;
        @include textShadow;
      }
      
      h4{
        color:$white;
        font-size: 36px;
        line-height: 40px;
        @include textShadow;
      }
     
     li{
      color: $white;
      text-shadow: $dropshadow;
    }
  }

  
  //INTRODUCTION
.intro{ padding-bottom: 80px; }


  
  //ABOUT BLOCK
.about-content{

  p{
    font-size: 20px;
    line-height: 24px;
  }
}


  //NEWS SECTION
.news-description{
  margin-top: 30px;
  margin-bottom: 45px;
  
  h5{
    font-size: 24px;
  }
  
  h3{
    font-family: $font-sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    }
  }

  h3{
    font-family: $font-sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
  }
}

.newsicon{
  margin: 0 auto;
  width: 180px;
  height: auto;
  padding: 40px;
}


.contenthead{
  margin-top: 10px;
  margin-bottom: 60px;
}
