//BOUCHARD TRADE NAVIGATION STYLES

	//HOMEPAGE
.homepage-header{

	nav{ padding-top: 25px;
	

	li{ 
		display: inline-block;
	}
			
	.left{
		float: left;

		.logo-home{
			background: $transparent url('../img/logo-white.png') no-repeat left top;
			height: 145px;
			text-indent: -9999px;
			width: 180px;

			// @include image-2x(url(../img/logo-white@2x.png), 100%, auto);

			@media screen and (max-width: $width-sm){
			@include clearfix;
			margin: 0 auto;
			background-position: center;
			}
		}
	}

	.right{
		float: right;
		margin-top: 80px;
		@media screen and (max-width: $width-md){
			@include clearfix;
			margin-top: 0px;
			margin: 0 auto;
			width: 90%;
		}

		a{ text-decoration: none; }

		a > li{
			display: inline;
			font-family: $font-serif;
			font-size: 24px;
			font-weight: 700;
			@include textShadow(0 1px 1px, rgba(0,0,0,0.4)); 
			@include transition(all, 0.3s, ease-in);
			padding: 0 1.3em; 
			@media screen and (max-width: $width-md){
			font-size: 14px;
			list-style: none;
		}

			&:hover{ opacity: 0.6; }

			&:last-child{ padding-right: 0; }
		}
	}
}
}