//BOUCHARD TRADE BASE STYLES

.right{ float: right; }

.left{ float: left; }

.center { text-align: center; }

.gray-back{ background-color: $background-gray; }

h1, h2, h3, h4, h5, h6{
	font-family:$font-serif,"Georgia", serif;
	font-weight: 400;
	color: $dark-blue;
}

p{ font-family: $font-sans, "Arial", sans-serif; }

section{
  
  h1{
    color: $dark-blue;
  }
}

.section-block{
  display: block;
  margin-top: 60px;
  margin-bottom: 20px;
}

.new-section{
  padding-top: 40px;
  padding-bottom: 20px;
  p{ 
    font-size: 12px;
  }
}

aside{
  
  p{
    margin: 20px;
    padding:10px;
  }
}


footer{
  color: $white;
  background: $light-blue;
  font-size: 11px; 
  text-decoration: none;
  margin-top: 40px;


  p{

    &:hover{ color: $light-blue; }
  }
}