//BOUCHARD TRADE BASE STYLES

//Let's work on general spacing and structure to this page.

.right{
  float: right;
}

.left{
  float: left;
}


.center { text-align: center; }


.gray-back{
background-color: $background-gray;
}

h1, h2, h3, h4, h5, h6{
	font-family:$font-serif,"Georgia", serif;
	font-weight: 400;
	color: $dark-blue;
}

p{
  font-family: $font-sans, "Arial", sans-serif;
}

  /* margin-bottom: 100px;  */
/*Menu*/ //Let's make sure this section uses good SCSS syntax and that we define Merriweather as a variable.
.main-menu {
 list-style:none;
 font-family: $font-serif;
	font-weight: 700;
  font-size: 22px; 
  clear:both;
  margin:20px;

    li{ 
    float: right; 
    position: relative; 
  	display: block;
  	padding: 0 30px; 
  	color: $dark-blue;	

       li:last-child{
				padding-right: 0;
		}
  }
}


section{
  h1{
    color: $dark-blue;
  }
}

.section-block{
  display: block;
  margin-top: 60px;
  margin-bottom: 20px;
}

.new-section{
  padding-top: 40px;
  padding-bottom: 20px;
  	p{ 
      font-size: 12px;
    }
}




footer{
background: $light-blue;
height: 60px;
font-size: 11px; 
line-height: 40px;
color: #FFFFFF;
line-height: 15px;
/* Copyright © 2014. Al: */
}