//BOUCHARD TRADE VARIABLES STYLES

	//COLORS

		//BLACK
		$black: #000000;

		//BLUE
		$light-blue: #0083C1;
		$dark-blue: #004981;

		//Gray
		$background-gray: rgba(155,155,155,0.08);
		$text-gray: #2F4F4F;

		//WHITE
		$white: #fff;

		//TRANSPARENT
		$transparent: transparent; 


		//FONTS
		$font-serif: "Merriweatger", Georgia, serif;
		$font-sans: "Open Sans", "Helvetica Neue", sans-serif;

		//TEXT SIZES
		$main-font-size: 16px;

		$bold: 600;

		$dropshadow: 2px 4px 3px rgba(0,0,0,0.5);