//BOUCHARD TRADE VARIABLES STYLES

	//COLORS

		//BLACK

		//BLUE
		$light-blue: #0083C1;
		$dark-blue: #004981;

		//Gray
		$background-gray: rgba(155,155,155,0.08);

		






		//FONTS
		$font-serif: "freight-text", "Georgia", serif;
		$font-sans: "Open Sans", "Helvetica Neue", sans-serif; 


