/* line 17, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/**
 * SASS/SCSS/Compass Transcription of Skeleton Responsive Grid
 * originally authored by Dave Gamache. This translation offers
 * mixins that support fluid and as well as fixed grids to supplement
 * the work that Dave Gamache has done.
 * @author Dennis Thompson <http://www.atomicpages.net>
 * @copyright Copyright (c) 2013 AtomicPages LLC
 * @license MIT
 * @version 1.6.3
 */
/* RESET & BASICS (Inspired by E. Meyers)
 * ------------------------------------------------ */
/* line 17, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* BASIC STYLES
 * ------------------------------------------------ */
/* line 24, ../bower_components/skeleton-sass/compass/base.scss */
body {
  background: white;
  font-size: 14px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 21px;
  color: #444444;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}

/* TYPOGRAPHY
 * ------------------------------------------------ */
/* line 40, ../bower_components/skeleton-sass/compass/base.scss */
h1, h2, h3, h4, h5, h6 {
  color: #181818;
  font-family: "Georgia", "Times New Roman", serif;
  font-weight: normal;
}

/* line 49, ../bower_components/skeleton-sass/compass/base.scss */
h1 a, h2 a, h3 a,
h4 a, h5 a, h6 a {
  font-weight: inherit;
}

/* line 51, ../bower_components/skeleton-sass/compass/base.scss */
h1 {
  font-size: 54px;
  line-height: 58px;
  margin-bottom: 16px;
}

/* line 56, ../bower_components/skeleton-sass/compass/base.scss */
h2 {
  font-size: 41px;
  line-height: 47px;
  margin-bottom: 12px;
}

/* line 61, ../bower_components/skeleton-sass/compass/base.scss */
h3 {
  font-size: 33px;
  line-height: 40px;
  margin-bottom: 9px;
}

/* line 66, ../bower_components/skeleton-sass/compass/base.scss */
h4 {
  font-size: 25px;
  line-height: 35px;
  margin-bottom: 5px;
}

/* line 71, ../bower_components/skeleton-sass/compass/base.scss */
h5 {
  font-size: 20px;
  line-height: 28px;
}

/* line 75, ../bower_components/skeleton-sass/compass/base.scss */
h6 {
  font-size: 16px;
  line-height: 25px;
}

/* line 79, ../bower_components/skeleton-sass/compass/base.scss */
.subheader {
  color: #777;
}

/* line 80, ../bower_components/skeleton-sass/compass/base.scss */
p {
  margin: 0 0 20px 0;
}
/* line 82, ../bower_components/skeleton-sass/compass/base.scss */
p img {
  margin: 0;
}
/* line 83, ../bower_components/skeleton-sass/compass/base.scss */
p.lead {
  font-size: 25px;
  line-height: 32px;
  color: #777;
}

/* line 89, ../bower_components/skeleton-sass/compass/base.scss */
em, i {
  font-style: italic;
}

/* line 90, ../bower_components/skeleton-sass/compass/base.scss */
strong, b {
  font-weight: bold;
  color: #333;
}

/* line 94, ../bower_components/skeleton-sass/compass/base.scss */
u {
  text-decoration: underline;
}

/* line 95, ../bower_components/skeleton-sass/compass/base.scss */
small {
  font-size: 80%;
}

/*	Blockquotes  */
/* line 97, ../bower_components/skeleton-sass/compass/base.scss */
blockquote, blockquote p {
  font-size: 20px;
  line-height: 28px;
  color: #777;
  font-style: italic;
}

/* line 103, ../bower_components/skeleton-sass/compass/base.scss */
blockquote {
  margin: 0 0 20px;
  padding: 9px 20px 0 19px;
  border-left: 1px solid #ddd;
}

/* line 108, ../bower_components/skeleton-sass/compass/base.scss */
blockquote cite {
  display: block;
  font-size: 14px;
  color: #555;
}
/* line 112, ../bower_components/skeleton-sass/compass/base.scss */
blockquote cite:before {
  content: "\2014 \0020";
}
/* line 113, ../bower_components/skeleton-sass/compass/base.scss */
blockquote cite a, blockquote cite a:visited {
  color: #555;
}

/* line 115, ../bower_components/skeleton-sass/compass/base.scss */
hr {
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
}

/* LINKS
 * ------------------------------------------------ */
/* line 128, ../bower_components/skeleton-sass/compass/base.scss */
a, a:visited {
  color: #333333;
  text-decoration: underline;
  outline: 0;
}

/* line 133, ../bower_components/skeleton-sass/compass/base.scss */
a:hover, a:focus, a:active {
  color: black;
}

/* line 134, ../bower_components/skeleton-sass/compass/base.scss */
p a, p a:visited {
  line-height: inherit;
}

/* LISTS
 * ------------------------------------------------ */
/* line 139, ../bower_components/skeleton-sass/compass/base.scss */
ul,
ol {
  margin-bottom: 20px;
}

/* line 140, ../bower_components/skeleton-sass/compass/base.scss */
ul {
  list-style: none outside;
}

/* line 141, ../bower_components/skeleton-sass/compass/base.scss */
ol {
  list-style: decimal;
}

/* line 143, ../bower_components/skeleton-sass/compass/base.scss */
ol, ul.square,
ul.circle, ul.disc {
  margin-left: 30px;
}

/* line 144, ../bower_components/skeleton-sass/compass/base.scss */
ul.square {
  list-style: square outside;
}

/* line 145, ../bower_components/skeleton-sass/compass/base.scss */
ul.circle {
  list-style: circle outside;
}

/* line 146, ../bower_components/skeleton-sass/compass/base.scss */
ul.disc {
  list-style: disc outside;
}

/* line 148, ../bower_components/skeleton-sass/compass/base.scss */
ul ul, ul ol,
ol ol, ol ul {
  margin-top: 4px;
  margin-right: 0;
  margin-bottom: 5px;
  margin-left: 30px;
  font-size: 90%;
}

/* line 158, ../bower_components/skeleton-sass/compass/base.scss */
ul ul li, ul ol li,
ol ol li, ol ul li {
  margin-bottom: 6px;
}

/* line 159, ../bower_components/skeleton-sass/compass/base.scss */
li {
  line-height: 18px;
  margin-bottom: 12px;
}

/* line 163, ../bower_components/skeleton-sass/compass/base.scss */
ul.large li {
  line-height: 21px;
}

/* line 164, ../bower_components/skeleton-sass/compass/base.scss */
li p {
  line-height: 21px;
}

/* IMAGES
 * ------------------------------------------------ */
/* line 168, ../bower_components/skeleton-sass/compass/base.scss */
img.scale-with-grid {
  max-width: 100%;
  height: auto;
}

/* BUTTONS
 * ------------------------------------------------ */
/* line 179, ../bower_components/skeleton-sass/compass/base.scss */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background: #eeeeee -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.2)));
  background: #eeeeee -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  background: #eeeeee -moz-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  background: #eeeeee -o-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  background: #eeeeee linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  border: 1px solid #aaa;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #444;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, 0.75);
  cursor: pointer;
  line-height: normal;
  padding: 8px 10px;
}
/* line 199, ../bower_components/skeleton-sass/compass/base.scss */
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  color: #222;
  background: #dddddd -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(0, 0, 0, 0.3)));
  background: #dddddd -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  background: #dddddd -moz-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  background: #dddddd -o-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  background: #dddddd linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  border: 1px solid #888;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
}
/* line 208, ../bower_components/skeleton-sass/compass/base.scss */
.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
  border: 1px solid #666;
  background: #cccccc -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.35)), color-stop(100%, rgba(10, 10, 10, 0.4)));
  background: #cccccc -webkit-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  background: #cccccc -moz-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  background: #cccccc -o-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  background: #cccccc linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
}
/* line 212, ../bower_components/skeleton-sass/compass/base.scss */
.button.full-width,
button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center;
}
/* line 218, ../bower_components/skeleton-sass/compass/base.scss */
.button.smaller,
button.smaller,
input[type="submit"].smaller,
input[type="reset"].smaller,
input[type="button"].smaller {
  font-size: 12px;
  padding: 4px 5px;
}
/* line 222, ../bower_components/skeleton-sass/compass/base.scss */
.button.larger,
button.larger,
input[type="submit"].larger,
input[type="reset"].larger,
input[type="button"].larger {
  font-size: 16px;
  padding: 10px 18px;
}

/* Fix for odd Mozilla border & padding issues */
/* line 231, ../bower_components/skeleton-sass/compass/base.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* FORMS
 * ------------------------------------------------ */
/* line 239, ../bower_components/skeleton-sass/compass/base.scss */
form {
  margin-bottom: 20px;
}

/* line 240, ../bower_components/skeleton-sass/compass/base.scss */
fieldset {
  margin-bottom: 20px;
}

/* line 255, ../bower_components/skeleton-sass/compass/base.scss */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="url"],
input[type="tel"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="number"],
textarea,
select {
  background: #fff;
  border: 1px solid #ccc;
  padding: 6px 4px;
  outline: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-size: 15px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
  margin: 0 0 20px;
  width: 210px;
  max-width: 100%;
  display: block;
}
/* line 270, ../bower_components/skeleton-sass/compass/base.scss */
input[type="text"]:hover, input[type="text"]:focus,
input[type="password"]:hover,
input[type="password"]:focus,
input[type="email"]:hover,
input[type="email"]:focus,
input[type="search"]:hover,
input[type="search"]:focus,
input[type="url"]:hover,
input[type="url"]:focus,
input[type="tel"]:hover,
input[type="tel"]:focus,
input[type="date"]:hover,
input[type="date"]:focus,
input[type="datetime"]:hover,
input[type="datetime"]:focus,
input[type="datetime-local"]:hover,
input[type="datetime-local"]:focus,
input[type="month"]:hover,
input[type="month"]:focus,
input[type="week"]:hover,
input[type="week"]:focus,
input[type="time"]:hover,
input[type="time"]:focus,
input[type="number"]:hover,
input[type="number"]:focus,
textarea:hover,
textarea:focus,
select:hover,
select:focus {
  border: 1px solid #aaa;
  color: #444;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
/* line 275, ../bower_components/skeleton-sass/compass/base.scss */
input[type="text"]:active,
input[type="password"]:active,
input[type="email"]:active,
input[type="search"]:active,
input[type="url"]:active,
input[type="tel"]:active,
input[type="date"]:active,
input[type="datetime"]:active,
input[type="datetime-local"]:active,
input[type="month"]:active,
input[type="week"]:active,
input[type="time"]:active,
input[type="number"]:active,
textarea:active,
select:active {
  border: 1px solid #909090;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

/* line 280, ../bower_components/skeleton-sass/compass/base.scss */
select {
  padding: 0;
}

/* line 281, ../bower_components/skeleton-sass/compass/base.scss */
textarea {
  min-height: 60px;
}

/* line 283, ../bower_components/skeleton-sass/compass/base.scss */
label,
legend {
  display: block;
  font-size: 15px;
  font-weight: bold;
}

/* line 290, ../bower_components/skeleton-sass/compass/base.scss */
select {
  width: 220px;
}

/* line 291, ../bower_components/skeleton-sass/compass/base.scss */
input[type="checkbox"] {
  display: inline;
}

/* line 293, ../bower_components/skeleton-sass/compass/base.scss */
label span,
legend span {
  font-size: 15px;
  font-weight: normal;
  color: #444;
}

/* MISC
 * ------------------------------------------------ */
/* line 303, ../bower_components/skeleton-sass/compass/base.scss */
.subtract-bottom {
  margin-bottom: -20px !important;
}

/* line 304, ../bower_components/skeleton-sass/compass/base.scss */
.remove-bottom {
  margin-bottom: 0 !important;
}

/* line 305, ../bower_components/skeleton-sass/compass/base.scss */
.half-bottom {
  margin-bottom: 10px !important;
}

/* line 306, ../bower_components/skeleton-sass/compass/base.scss */
.add-bottom {
  margin-bottom: 20px !important;
}

/**
 * SASS/SCSS/Compass Transcription of Skeleton Responsive Grid
 * originally authored by Dave Gamache. This translation offers
 * mixins that support fluid and as well as fixed grids to supplement
 * the work that Dave Gamache has done.
 * @author Dennis Thompson <http://www.atomicpages.net>
 * @copyright Copyright (c) 2013 AtomicPages LLC
 * @license MIT
 * @version 1.6.3
 */
/* BASE GRID
 * ------------------------------------------------ */
/* line 22, ../bower_components/skeleton-sass/compass/skeleton.scss */
.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 0;
}
/* line 29, ../bower_components/skeleton-sass/compass/skeleton.scss */
.container .column,
.container .columns {
  float: left;
  display: inline;
  position: relative;
}
/* line 33, ../bower_components/skeleton-sass/compass/skeleton.scss */
.container .column.alpha,
.container .columns.alpha {
  margin-left: 0;
}
/* line 34, ../bower_components/skeleton-sass/compass/skeleton.scss */
.container .column.omega,
.container .columns.omega {
  margin-right: 0;
}

/* line 37, ../bower_components/skeleton-sass/compass/skeleton.scss */
.row {
  margin-bottom: 20px;
}

/* line 44, ../bower_components/skeleton-sass/compass/_dependencies.scss */
.container .column,
.container .columns {
  margin-left: 10px;
  margin-right: 10px;
}

/* The Grid */
/* line 56, ../bower_components/skeleton-sass/compass/_dependencies.scss */
.container .one.column,
.container .one.columns {
  width: 40px;
}
/* line 58, ../bower_components/skeleton-sass/compass/_dependencies.scss */
.container .two.columns {
  width: 100px;
}
/* line 58, ../bower_components/skeleton-sass/compass/_dependencies.scss */
.container .three.columns {
  width: 160px;
}
/* line 58, ../bower_components/skeleton-sass/compass/_dependencies.scss */
.container .four.columns {
  width: 220px;
}
/* line 58, ../bower_components/skeleton-sass/compass/_dependencies.scss */
.container .five.columns {
  width: 280px;
}
/* line 58, ../bower_components/skeleton-sass/compass/_dependencies.scss */
.container .six.columns {
  width: 340px;
}
/* line 58, ../bower_components/skeleton-sass/compass/_dependencies.scss */
.container .seven.columns {
  width: 400px;
}
/* line 58, ../bower_components/skeleton-sass/compass/_dependencies.scss */
.container .eight.columns {
  width: 460px;
}
/* line 58, ../bower_components/skeleton-sass/compass/_dependencies.scss */
.container .nine.columns {
  width: 520px;
}
/* line 58, ../bower_components/skeleton-sass/compass/_dependencies.scss */
.container .ten.columns {
  width: 580px;
}
/* line 58, ../bower_components/skeleton-sass/compass/_dependencies.scss */
.container .eleven.columns {
  width: 640px;
}
/* line 58, ../bower_components/skeleton-sass/compass/_dependencies.scss */
.container .twelve.columns {
  width: 700px;
}
/* line 58, ../bower_components/skeleton-sass/compass/_dependencies.scss */
.container .thirteen.columns {
  width: 760px;
}
/* line 58, ../bower_components/skeleton-sass/compass/_dependencies.scss */
.container .fourteen.columns {
  width: 820px;
}
/* line 58, ../bower_components/skeleton-sass/compass/_dependencies.scss */
.container .fifteen.columns {
  width: 880px;
}
/* line 58, ../bower_components/skeleton-sass/compass/_dependencies.scss */
.container .sixteen.columns {
  width: 940px;
}
/* line 61, ../bower_components/skeleton-sass/compass/_dependencies.scss */
.container .one-third.column {
  width: 300px;
}
/* line 62, ../bower_components/skeleton-sass/compass/_dependencies.scss */
.container .two-thirds.column {
  width: 620px;
}
/* line 75, ../bower_components/skeleton-sass/compass/_dependencies.scss */
.container .offset-by-one {
  padding-left: 60px;
}
/* line 75, ../bower_components/skeleton-sass/compass/_dependencies.scss */
.container .offset-by-two {
  padding-left: 120px;
}
/* line 75, ../bower_components/skeleton-sass/compass/_dependencies.scss */
.container .offset-by-three {
  padding-left: 180px;
}
/* line 75, ../bower_components/skeleton-sass/compass/_dependencies.scss */
.container .offset-by-four {
  padding-left: 240px;
}
/* line 75, ../bower_components/skeleton-sass/compass/_dependencies.scss */
.container .offset-by-five {
  padding-left: 300px;
}
/* line 75, ../bower_components/skeleton-sass/compass/_dependencies.scss */
.container .offset-by-six {
  padding-left: 360px;
}
/* line 75, ../bower_components/skeleton-sass/compass/_dependencies.scss */
.container .offset-by-seven {
  padding-left: 420px;
}
/* line 75, ../bower_components/skeleton-sass/compass/_dependencies.scss */
.container .offset-by-eight {
  padding-left: 480px;
}
/* line 75, ../bower_components/skeleton-sass/compass/_dependencies.scss */
.container .offset-by-nine {
  padding-left: 540px;
}
/* line 75, ../bower_components/skeleton-sass/compass/_dependencies.scss */
.container .offset-by-ten {
  padding-left: 600px;
}
/* line 75, ../bower_components/skeleton-sass/compass/_dependencies.scss */
.container .offset-by-eleven {
  padding-left: 660px;
}
/* line 75, ../bower_components/skeleton-sass/compass/_dependencies.scss */
.container .offset-by-twelve {
  padding-left: 720px;
}
/* line 75, ../bower_components/skeleton-sass/compass/_dependencies.scss */
.container .offset-by-thirteen {
  padding-left: 780px;
}
/* line 75, ../bower_components/skeleton-sass/compass/_dependencies.scss */
.container .offset-by-fourteen {
  padding-left: 840px;
}
/* line 75, ../bower_components/skeleton-sass/compass/_dependencies.scss */
.container .offset-by-fifteen {
  padding-left: 900px;
}

/* TABLET (PORTRAIT)
 * ------------------------------------------------ */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* line 47, ../bower_components/skeleton-sass/compass/skeleton.scss */
  .container {
    width: 768px;
  }
  /* line 51, ../bower_components/skeleton-sass/compass/skeleton.scss */
  .container .column.alpha, .container .columns.alpha {
    margin-left: 0;
    margin-right: 10px;
  }
  /* line 57, ../bower_components/skeleton-sass/compass/skeleton.scss */
  .container .column.omega, .container .columns.omega {
    margin-right: 0;
    margin-left: 10px;
  }

  /* line 65, ../bower_components/skeleton-sass/compass/skeleton.scss */
  .alpha.omega {
    margin-left: 0;
    margin-right: 0;
  }

  /* line 44, ../bower_components/skeleton-sass/compass/_dependencies.scss */
  .container .column,
  .container .columns {
    margin-left: 10px;
    margin-right: 10px;
  }

  /* The Grid */
  /* line 56, ../bower_components/skeleton-sass/compass/_dependencies.scss */
  .container .one.column,
  .container .one.columns {
    width: 28px;
  }
  /* line 58, ../bower_components/skeleton-sass/compass/_dependencies.scss */
  .container .two.columns {
    width: 76px;
  }
  /* line 58, ../bower_components/skeleton-sass/compass/_dependencies.scss */
  .container .three.columns {
    width: 124px;
  }
  /* line 58, ../bower_components/skeleton-sass/compass/_dependencies.scss */
  .container .four.columns {
    width: 172px;
  }
  /* line 58, ../bower_components/skeleton-sass/compass/_dependencies.scss */
  .container .five.columns {
    width: 220px;
  }
  /* line 58, ../bower_components/skeleton-sass/compass/_dependencies.scss */
  .container .six.columns {
    width: 268px;
  }
  /* line 58, ../bower_components/skeleton-sass/compass/_dependencies.scss */
  .container .seven.columns {
    width: 316px;
  }
  /* line 58, ../bower_components/skeleton-sass/compass/_dependencies.scss */
  .container .eight.columns {
    width: 364px;
  }
  /* line 58, ../bower_components/skeleton-sass/compass/_dependencies.scss */
  .container .nine.columns {
    width: 412px;
  }
  /* line 58, ../bower_components/skeleton-sass/compass/_dependencies.scss */
  .container .ten.columns {
    width: 460px;
  }
  /* line 58, ../bower_components/skeleton-sass/compass/_dependencies.scss */
  .container .eleven.columns {
    width: 508px;
  }
  /* line 58, ../bower_components/skeleton-sass/compass/_dependencies.scss */
  .container .twelve.columns {
    width: 556px;
  }
  /* line 58, ../bower_components/skeleton-sass/compass/_dependencies.scss */
  .container .thirteen.columns {
    width: 604px;
  }
  /* line 58, ../bower_components/skeleton-sass/compass/_dependencies.scss */
  .container .fourteen.columns {
    width: 652px;
  }
  /* line 58, ../bower_components/skeleton-sass/compass/_dependencies.scss */
  .container .fifteen.columns {
    width: 700px;
  }
  /* line 58, ../bower_components/skeleton-sass/compass/_dependencies.scss */
  .container .sixteen.columns {
    width: 748px;
  }
  /* line 61, ../bower_components/skeleton-sass/compass/_dependencies.scss */
  .container .one-third.column {
    width: 236px;
  }
  /* line 62, ../bower_components/skeleton-sass/compass/_dependencies.scss */
  .container .two-thirds.column {
    width: 492px;
  }
  /* line 75, ../bower_components/skeleton-sass/compass/_dependencies.scss */
  .container .offset-by-one {
    padding-left: 48px;
  }
  /* line 75, ../bower_components/skeleton-sass/compass/_dependencies.scss */
  .container .offset-by-two {
    padding-left: 96px;
  }
  /* line 75, ../bower_components/skeleton-sass/compass/_dependencies.scss */
  .container .offset-by-three {
    padding-left: 144px;
  }
  /* line 75, ../bower_components/skeleton-sass/compass/_dependencies.scss */
  .container .offset-by-four {
    padding-left: 192px;
  }
  /* line 75, ../bower_components/skeleton-sass/compass/_dependencies.scss */
  .container .offset-by-five {
    padding-left: 240px;
  }
  /* line 75, ../bower_components/skeleton-sass/compass/_dependencies.scss */
  .container .offset-by-six {
    padding-left: 288px;
  }
  /* line 75, ../bower_components/skeleton-sass/compass/_dependencies.scss */
  .container .offset-by-seven {
    padding-left: 336px;
  }
  /* line 75, ../bower_components/skeleton-sass/compass/_dependencies.scss */
  .container .offset-by-eight {
    padding-left: 384px;
  }
  /* line 75, ../bower_components/skeleton-sass/compass/_dependencies.scss */
  .container .offset-by-nine {
    padding-left: 432px;
  }
  /* line 75, ../bower_components/skeleton-sass/compass/_dependencies.scss */
  .container .offset-by-ten {
    padding-left: 480px;
  }
  /* line 75, ../bower_components/skeleton-sass/compass/_dependencies.scss */
  .container .offset-by-eleven {
    padding-left: 528px;
  }
  /* line 75, ../bower_components/skeleton-sass/compass/_dependencies.scss */
  .container .offset-by-twelve {
    padding-left: 576px;
  }
  /* line 75, ../bower_components/skeleton-sass/compass/_dependencies.scss */
  .container .offset-by-thirteen {
    padding-left: 624px;
  }
  /* line 75, ../bower_components/skeleton-sass/compass/_dependencies.scss */
  .container .offset-by-fourteen {
    padding-left: 672px;
  }
  /* line 75, ../bower_components/skeleton-sass/compass/_dependencies.scss */
  .container .offset-by-fifteen {
    padding-left: 720px;
  }
}
/*  MOBILE (PORTRAIT)
 * ------------------------------------------------ */
@media only screen and (max-width: 767px) {
  /* line 82, ../bower_components/skeleton-sass/compass/_dependencies.scss */
  .container {
    width: 300px;
  }
  /* line 85, ../bower_components/skeleton-sass/compass/_dependencies.scss */
  .container .column,
  .container .columns {
    margin-left: 0;
    margin-right: 0;
  }
  /* line 94, ../bower_components/skeleton-sass/compass/_dependencies.scss */
  .container .one.column {
    width: 300px;
  }
  /* line 124, ../bower_components/skeleton-sass/compass/_dependencies.scss */
  .container .one.columns, .container .two.columns, .container .three.columns, .container .four.columns, .container .five.columns, .container .six.columns, .container .seven.columns, .container .eight.columns, .container .nine.columns, .container .ten.columns, .container .eleven.columns, .container .twelve.columns, .container .thirteen.columns, .container .fourteen.columns, .container .fifteen.columns, .container .sixteen.columns {
    width: 300px;
  }
  /* line 98, ../bower_components/skeleton-sass/compass/_dependencies.scss */
  .container .one-third.column {
    width: 300px;
  }
  /* line 99, ../bower_components/skeleton-sass/compass/_dependencies.scss */
  .container .two-thirds.column {
    width: 300px;
  }
  /* line 124, ../bower_components/skeleton-sass/compass/_dependencies.scss */
  .container .offset-by-one, .container .offset-by-two, .container .offset-by-three, .container .offset-by-four, .container .offset-by-five, .container .offset-by-six, .container .offset-by-seven, .container .offset-by-eight, .container .offset-by-nine, .container .offset-by-ten, .container .offset-by-eleven, .container .offset-by-twelve, .container .offset-by-thirteen, .container .offset-by-fourteen, .container .offset-by-fifteen {
    padding-left: 0;
  }
}
/* MOBILE (LANDSCAPE)
 * ------------------------------------------------ */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 82, ../bower_components/skeleton-sass/compass/_dependencies.scss */
  .container {
    width: 420px;
  }
  /* line 85, ../bower_components/skeleton-sass/compass/_dependencies.scss */
  .container .column,
  .container .columns {
    margin-left: 0;
    margin-right: 0;
  }
  /* line 94, ../bower_components/skeleton-sass/compass/_dependencies.scss */
  .container .one.column {
    width: 420px;
  }
  /* line 124, ../bower_components/skeleton-sass/compass/_dependencies.scss */
  .container .one.columns, .container .two.columns, .container .three.columns, .container .four.columns, .container .five.columns, .container .six.columns, .container .seven.columns, .container .eight.columns, .container .nine.columns, .container .ten.columns, .container .eleven.columns, .container .twelve.columns, .container .thirteen.columns, .container .fourteen.columns, .container .fifteen.columns, .container .sixteen.columns {
    width: 420px;
  }
  /* line 98, ../bower_components/skeleton-sass/compass/_dependencies.scss */
  .container .one-third.column {
    width: 420px;
  }
  /* line 99, ../bower_components/skeleton-sass/compass/_dependencies.scss */
  .container .two-thirds.column {
    width: 420px;
  }
  /* line 124, ../bower_components/skeleton-sass/compass/_dependencies.scss */
  .container .offset-by-one, .container .offset-by-two, .container .offset-by-three, .container .offset-by-four, .container .offset-by-five, .container .offset-by-six, .container .offset-by-seven, .container .offset-by-eight, .container .offset-by-nine, .container .offset-by-ten, .container .offset-by-eleven, .container .offset-by-twelve, .container .offset-by-thirteen, .container .offset-by-fourteen, .container .offset-by-fifteen {
    padding-left: 0;
  }
}
/* CLEARING
 * ------------------------------------------------ */
/* line 92, ../bower_components/skeleton-sass/compass/skeleton.scss */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 99, ../bower_components/skeleton-sass/compass/skeleton.scss */
.clearfix, .row {
  zoom: 1;
}
/* line 101, ../bower_components/skeleton-sass/compass/skeleton.scss */
.clearfix:before, .clearfix:after, .row:before, .row:after {
  content: "\0020";
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
/* line 109, ../bower_components/skeleton-sass/compass/skeleton.scss */
.clearfix:after, .row:after {
  clear: both;
}

/* line 111, ../bower_components/skeleton-sass/compass/skeleton.scss */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/**
 * SASS/SCSS/Compass Transcription of Skeleton Responsive Grid
 * originally authored by Dave Gamache. This translation offers
 * mixins that support fluid and as well as fixed grids to supplement
 * the work that Dave Gamache has done.
 * @author Dennis Thompson <http://www.atomicpages.net>
 * @copyright Copyright (c) 2013 AtomicPages LLC
 * @license MIT
 * @version 1.6.3
 */
/* SITE STYLES
 * ------------------------------------------------ */
/* Add site styles here */
/* For example: a { color: #000; } */
/* PAGE STYLES
 * ------------------------------------------------ */
/* Add page styles here */
/* For example: .page-home { background: rgba(0, 0, 0, 0.4); } */
/* MEDIA QUERIES
 * ------------------------------------------------ */
/* Otherwise known as custom responsive code! Write it here! */
@media only screen and (min-width: 960px) and (max-width: 1280px) {
  /* add code here */
}
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
  /* add code here */
}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* add code here */
}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  /* add code here */
}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* add code here */
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  /* add code here */
}
/* line 5, ../sass/global/_base.scss */
.right {
  float: right;
}

/* line 9, ../sass/global/_base.scss */
.left {
  float: left;
}

/* line 13, ../sass/global/_base.scss */
.center {
  text-align: center;
}

/* line 15, ../sass/global/_base.scss */
.gray-back {
  background-color: rgba(155, 155, 155, 0.08);
}

/* line 19, ../sass/global/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweatger", Georgia, serif, "Georgia", serif;
  font-weight: 400;
  color: #004981;
}

/* line 25, ../sass/global/_base.scss */
p {
  font-family: "Open Sans", "Helvetica Neue", sans-serif, "Arial", sans-serif;
}

/* line 29, ../sass/global/_base.scss */
.logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

/* margin-bottom: 100px;  */
/*Menu*/
/* line 36, ../sass/global/_base.scss */
.main-menu {
  clear: both;
  font-family: "Merriweatger", Georgia, serif;
  font-weight: 700;
  font-size: 22px;
  list-style: none;
  margin: 20px;
}
/* line 44, ../sass/global/_base.scss */
.main-menu li {
  color: #004981;
  display: block;
  float: right;
  position: relative;
  padding: 0 30px;
}
/* line 51, ../sass/global/_base.scss */
.main-menu li li:last-child {
  padding-right: 0;
}

/* line 56, ../sass/global/_base.scss */
section h1 {
  color: #004981;
}

/* line 61, ../sass/global/_base.scss */
.section-block {
  display: block;
  margin-top: 60px;
  margin-bottom: 20px;
}

/* line 67, ../sass/global/_base.scss */
.new-section {
  padding-top: 40px;
  padding-bottom: 20px;
}
/* line 70, ../sass/global/_base.scss */
.new-section p {
  font-size: 12px;
}

/* line 76, ../sass/global/_base.scss */
aside p {
  margin: 20px;
  padding: 30px;
}

/* line 83, ../sass/global/_base.scss */
footer {
  color: white;
  background: #0083c1;
  font-size: 11px;
  text-decoration: none;
  padding: 10px 0px 10px 0px;
}
/* line 92, ../sass/global/_base.scss */
footer p:hover {
  color: #0083c1;
}

/* line 5, ../sass/_home.scss */
.homepage-container .homepage-header {
  background-image: url(../img/header-img-gray.jpg);
  max-height: 600px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 auto;
  color: white;
  border-top: solid #004981 15px;
}
/* line 13, ../sass/_home.scss */
.homepage-container .homepage-header h1 {
  color: white;
  font-size: 70px;
  line-height: 74px;
}
/* line 18, ../sass/_home.scss */
.homepage-container .homepage-header h4 {
  color: white;
  font-size: 36px;
  line-height: 40px;
}
/* line 23, ../sass/_home.scss */
.homepage-container .homepage-header li {
  color: white;
}

/* line 30, ../sass/_home.scss */
.logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

/* line 36, ../sass/_home.scss */
.intro {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* line 41, ../sass/_home.scss */
.news-section {
  padding-top: 40px;
}

/* line 45, ../sass/_home.scss */
.icon-small {
  float: right;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
